<div class="container fullScreen" style="height: 85vh;">
    <div style="padding: 3px;">
        <button [routerLink]="'/all-profiles'" class="btn btn-success">
            Back
        </button>
    </div>
    <!-- card -->
         <div class="card custom-boxshadow" style="width: 100%;" *ngIf="userProfile;else noDetail">
            <!-- header -->
    <div class="header" style="background-color: aliceblue;">
             <!-- pic -->
 <div class="row">
  <div class="col-3">
    <img [class.online]="userProfile.verifiedStatus" style="height: 200px;width: 200px;border-radius: 50%;
padding: 5px;" src="../../assets/{{userProfile.gender}}.jpg" alt="profile pic">
</div>
     <!-- pic -->
<div class="col-9">
 <div class="userTag   ">
    <h3>{{userProfile.fullName}}</h3>
    <div style="color: #ceaa4d;">{{userProfile.work}}</div>
    <div class="m-1" ><i class="bi bi-envelope-at-fill"></i> {{userProfile.email}}</div>
    <div   class="m-1"><i class="bi bi-telephone-forward-fill"></i> {{userProfile.contactInfo.phone}}</div>
    <div  class="m-1" ><i class="bi bi-geo-alt-fill"></i> {{userProfile.location}}</div>
 </div>
</div>
 </div>
    <div>
    
    </div>
    </div>
    <div class="card-content" >
      <div style="height: 200px;" class="row pl-2 pr-2">
          <div class="form-group col-6">
            <label for="disabledTextInput">Hobbies</label>
            <input disabled type="text" id="disabledTextInput" class="form-control" [placeholder]="  userProfile.hobbies | truncate">
          </div>
          <div class="form-group col-6">
            <label for="disabledTextInput">Languages</label>
            <input disabled type="text" id="disabledTextInput" class="form-control" [placeholder]="  userProfile.languages | truncate">
          </div>
          <div class="form-group col-6">
            <label for="disabledTextInput">Status</label>
            <input disabled type="text" id="disabledTextInput" class="form-control" [placeholder]="  userProfile.statusMessage | truncate">
          </div>
          <div class="form-group col-6">
            <label for="disabledTextInput">Relationship</label>
            <input disabled type="text" id="disabledTextInput" class="form-control" [placeholder]="  userProfile.relationshipStatus | truncate">
          </div>
      </div>
    </div>
    <div class="card-footer ">
  <div class="d-flex justify-content-between">

    <span> <i title="Followers" class="bi bi-people-fill"></i>  {{userProfile.followersCount}} <i title="Followers" class="bi bi-person-fill-check"></i>{{userProfile.followingCount}} </span>
    <span >last active: <span>{{userProfile.lastActive}}</span></span>
  </div>
  
    </div>

         </div>
    
        <ng-template #noDetail>
            <div class="loading"></div>
        </ng-template>
    
        </div>




        